@*@model IEnumerable<Project5EMDAStaffManagement.Models.SignOuts>*@
@using System.Collections
@model List<SignOuts>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>Staff Currently Out</h2><br /><br />

    @foreach (var item in ViewData["StaffOut"] as List<SignOuts>)
    {
        <p>
            <b>@Html.DisplayFor(modelItem => item.Staff.FirstName) @Html.DisplayFor(modelItem => item.Staff.LastName) </b>
            signed out at
            @Html.DisplayFor(modelItem => item.TimeOut)
            <br />Reason:
            @Html.DisplayFor(modelItem => item.Reason.Reason)
            <br />Hours in office:
            @Html.DisplayFor(modelItem => item.HoursIn)
        </p>
    }
</div>